<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/home">HOME</a>
    </li>
  </ul>
  <div class="mx-auto">
    <h2 style="color: aliceblue">Welcome to Fx Trading</h2>
  </div>
  <ul class="navbar-nav justify-content-end">
    <li class="nav-item active">
      <a class="nav-link" href="/exit">EXIT</a>
    </li>
  </ul>
</nav>
<br /><br />
<div class="container">
  <div class="row">
    <form #data="ngForm" (ngSubmit)="onSubmit(data.value)">
      <div class="form-outline mb-4">
        <label>Customer Name :</label>
        <input
          #name="ngModel"
          required
          pattern="[a-zA-Z. ]+$"
          name="customerName"
          type="text"
          class="form-control"
          ngModel
        />
        <p *ngIf="name.invalid && name.touched" style="color: red">
          *Please enter the valid input
        </p>
      </div>

      <div class="form-outline mb-4">
        <label>Currency Pair :</label>
        <select
          #pair="ngModel"
          required
          pattern="[a-zA-Z. ]+$"
          name="currencyPair"
          type="text"
          class="form-control"
          ngModel
        >
          <option>USDINR</option>
        </select>
        <p *ngIf="pair.invalid && pair.touched" style="color: red">
          *Please select the option
        </p>
      </div>

      <div class="form-outline mb-4">
        <label>Amount :</label>
        <input
          #amount="ngModel"
          required
          name="amount"
          type="text"
          class="form-control"
          ngModel
        />
        <p *ngIf="amount.invalid && amount.touched" style="color: red">
          *Please enter the valid input
        </p>
      </div>

      <div>
        <input
          #getRate
          name="select"
          type="checkbox"
          id="getRate"
          (click)="onClick(getRate, amount)"
        />
        <label for="getRate">Rate</label>
        <p>{{ Message }}</p>
      </div>

      <br /><br />
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="data.invalid">
          Book Trade
        </button>
        <br /><br />
        <span class="alert alert-success" [hidden]="issubmitDissabled">
          {{ backendResponse }}
        </span>
      </div>
    </form>
  </div>
</div>
