span{
    /* float: right; */
    text-align: center;
    position: absolute;
    margin-left: 10%;
}
button{
    text-align: center;
    width: 450px;
    height: 50px;
    border: #0d6efd;
    color: white;
    margin-left: 20px;
}
form{
    width: 500px;
    margin-left: 30%;
}
